@charset "utf-8";


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
    text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .5s;
   }
   li{
    list-style: none;
   }
   a{
    text-decoration: none;
    color: black;
   }
   body{
    color: inherit;
   }
   img{
    display: block;
   }
   html{
    font-size: 10px;
   }
   header{
    width: 100%;
    height: 16vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 999;
   }
   header .logo img{
    width: 15vw;
    height: 8vh;
    margin: 5% 50%;

   }
   .tophead{
    display: flex;
    justify-content: space-between;
   }
   .log{
    font-size: 1.7rem;
    margin-top: 2.3%;
    margin-right: 10%;
   }
   .log a:hover{
    font-weight: 700;
    color: #111266;
   }
   .search{
    margin-top: 2%;
    margin-left: 50%;
    width: 11vw;
    height: 4.1vh;
    border: 1px solid black;
    border: none;
    border-bottom: 1px solid black;
   }
   .search_input{
    width: 8vw;
    border: none;
    font-size: 1.7rem;
    line-height: 3.3rem;
    padding-left: 5%;
   }
   button{
    width: 2.7vw;
    height: 3.5vh;
    font-size: 1.6rem;
    background-color: white;
    cursor: pointer;
   }
   button:hover{
    font-weight: 700;
    background-color: #c9c9c9;
   }
   nav{
    width: 100%;
    height: 6.3vh;
    display: flex;
    color: rgb(0, 0, 0);
    background-color: #111266;
    padding-left: 20%;
    font-size: 2rem;
    line-height: 50px;
    text-align: center;
    z-index: 999;
   }
   nav .mainmenu{
    width: 10vw;
    height: 6.3vh;
    background-color: #111266;
    color: rgb(255, 255, 255);
   }
   nav .mainmenu>li>a{
    color: white;
   }
   nav .mainmenu>li{
    width: 10vw;
    height: 60px;
    line-height: 60px;
    font-weight: 700;
    color: white;
   }
   nav .mainmenu li:hover{
    background-color: #ffffff;
    border: 2px solid #111266;
   }
   nav .mainmenu li a:hover{
    color: #111266;
   }
   .submenu{
    width: 10vw;
    height: 32vh;
    border: 2px solid #e9e9e9;
    display: none;
   }
   .submenu>li{
    background-color: #ffffff;
    left: 0;
    color: black;
   }
   .submenu>li:hover{
    color: #111266;
    font-weight: 700;
   }

   header nav .submenu::after{
    content: '';
    position: absolute;
    top: 15vh;
    left: 0;
    width: 100%;
    height: 34.2vh;
    background-color: rgb(255, 255, 255);
    z-index: -1;
   }
   main{
    position: absolute;
    top: 17%;
   }
   .slide{
    width: 99vw;
    height: 64vh;   
    position: relative;
    overflow: hidden;
   }
   .slide ul{
    width: 297vw;
    height: 64vh;
    position: relative;
   }
 .slide ul li{
    float: left;
    width: 100%;
    height: 64vh;
    position: relative;
   }
 
   .cir{
    display: flex;
    position: absolute;
    top: 21%;
    z-index: 9;
    margin-left: 3%;
   }
   .cir ul{
    position: absolute;
    top: 6%;
   }
   .cir li{
    border-radius: 25%;
    width: 6.8vw;
    padding-bottom: 10.5rem;
    position: relative;
    padding-left: 2%;
    margin-left: 3rem;
    z-index: 10;
   }
   .cir li a{
    position: absolute;
    top: 33%;
    left: 0%;
    line-height: 2.5rem;
    font-size: 1.5rem;
   text-align: center;
   justify-content: center;
   display: block;
   color: white;
   }
   .cir li a::after{
    content: '';
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 25%;
    width: 7vw;
    padding-bottom: 10rem;
    z-index: -1;
    top: -150%;
    left: -20%;
    position: absolute;
    opacity: 65%;
   }
   .cir a:hover{
   font-weight: 700;
   font-size: 1.55rem;
   }

#contents{
    width: 100%;
    height: 70vh;
    background-color:#ddf4ff;
    position: relative;
}
#contents h3{
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    padding-top: 8rem;
    color: rgb(0, 0, 0);
    
}
#contents .title{
    font-size: 2.3rem;
    line-height: 3.5rem;
    padding-left: 26.5%;    
    margin-top: 4%;
    margin-bottom: 2%;
    position: relative;
}
#contents .title a{
    color: #5f5f5f;
    margin: 2%;
    text-align: center;
    padding: 1%;
}
#contents .title a:hover{
    font-weight: 700;
    border-bottom: 2px solid rgb(0, 0, 124);
    color: rgb(0, 0, 124);
}
.topbox{
    width: 75vw;
    height: 32vh;
    line-height: 7.5rem;
    font-size: 1.8rem;
    border-top: 3px solid rgb(121, 121, 121);
    border-bottom: 3px solid rgb(121, 121, 121);
    position: absolute;
    left: 12%;
}
.tab2, .tab3, .tab4, .tab5{
    display: none;
}
.box ul li a:hover{
    font-weight: 700;
}


.box li{
    border-bottom: 1px solid rgb(190, 190, 190);
}
.box li a{
    padding-left: 3%;
}
.news{
    width: 75vw;
    height: 52vh;
    margin: 0 auto;
    margin-top: 5vh;
    box-shadow: 1px 1px 20px 5px #b3b3b3;
}

.newslist{
    float: left;
    margin-top: 4%;
    margin-left: 2.5%;
}

.news img{
    width: 22.5vw;
    height: 35vh;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.news ul li:hover img{
    transform:  scale(1.02);
}
.news ul li:hover a{
    border-bottom: 1px solid black;
}
.list{
    margin-top: 3%;
    font-size: 1.8rem;
    line-height: 3rem;
}
.banner2{
    width: 75vw;
    height: 25vh;
    margin: 2.5% auto;
    position: relative;
    display: flex;
}
.banner2 img{
    width: 700px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 3%;
}
.banner2 img:hover{
    transform:  scale(1.02);
}
.bannerin2{
    margin-left: 3%;
}
footer{
    position: relative;
    top: 240vh;
    width: 100%;
    height: 20vh;
    background-color: #111266;
    color: white;
}
footer .txt{
    display: block;
    font-size: 1.4rem;
    margin-left: 14%;
    padding-top: 2%;
}
.inner a{
    font-size: 1.6rem;
    font-weight: 900;
    padding: 0.1% 0;
    margin-left: 1%;
    color: white;
    border-bottom: 1px solid white;
}
.inner a:first-child{
    margin: 0;
}
.inner2{
    display: flex;
    margin-top: 2.5%;
}
.inner3{
    display: flex;
    margin-top: 1%;
}
footer .txt p{
    margin-left: 1vw;
}
footer .txt p:first-child{
    margin: 0;
}
