 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	color: rgb(55, 54, 51);
}
p{
	color: (55, 54, 51);
}
img{
	display: block;
	max-width: 100%;
}

body{
	background-color: rgb(231,227,220);
}
html{
	font-size: 20px;
}
header{
    width: 80%;
    height: 8vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}
header .logo{
	font-size: 2.2rem;
}
header .logo a{
	color: rgb(55, 54, 51);
	font-weight: 500;
}
header ul{
	display: flex;
	text-align: center;
	justify-content: center;
    
}
header ul li{
	margin: 0 1vw;
}
header ul li a{
	font-size: 1.7rem;
	color: rgb(55, 54, 51);
}
.title{
	width: 80%;
	margin: 0 auto;
	margin-top: 17vh;
	font-size: 2rem;
	line-height: 2.5rem;
	color: rgb(55, 54, 51);
}
.contents1{
	margin: 40vh 0;
}
.contents1 img{
	width: 100%;
}
.contents1 .text{
	width: 80%;
	margin: 10vh auto;
	display: flex;
	justify-content: space-between;
	line-height: 2rem;
}
.contents1 .text p{
	flex-basis: 70%;
	line-height: 2rem;
}
.contents1 .text h3{
	font-size: 2.5rem;
	font-weight: 700;
}
.contents2{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 30vh;
}
.contents2 h3{
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 2vh;
}
.contents2 p{
	font-size: 1rem;
	line-height: 2rem;
	margin-bottom: 2vh;
}
.contents2 img{
	width: 100%;
}

/* .contents3{
	width: 100%;
	height: 160vh;
	overflow: hidden;
	
}
.contents3 h3{
	font-size: 2.5rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 8vh;
}

.contents3 .box5{
	width: 63%;
	height: 25%;
	margin-left: 29%;
	position: relative;
	
}

.contents3 .box5 a:nth-child(2){
	margin-left: 1vw;
}
.contents3 .box6{
	width: 63%;
	height: 25%;
	margin-left: 8%;
}
 */





.contents4{
	width: 100%;
	height: 100%;
	margin-bottom: 35vh;
	overflow: hidden;
}

.contents4 h4{
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 4vh;
	margin-left: 8vw;
	margin-top: 15%;
	color: rgb(55, 54, 51);
}
.contents4 .top,
.contents4 .bottom{
	width: 100%;
	height: 49.5vw;
	overflow: hidden;
	display: flex;
}
.contents4 .box1{
	width: 50%;
	height: 50vw;
	overflow: hidden;
}
.contents4 .box2{
	width: 50%;
	height: 50vw;
	overflow: hidden;
}
.contents4 .box3{
	width: 50%;
	height: 50vw;
	overflow: hidden;
}
.contents4 .box4{
	width: 50%;
	height: 50vw;
	overflow: hidden;
}

.contents4 .box2 a img{
	width: 100%;
}
.contents4 .box1 p{
	width: 70%;
	font-size: 1.1rem;
	line-height: 2.3rem;
	margin-bottom: 35%;
	margin-left: 8vw;
	color: rgb(55, 54, 51);
}

.contents4 .box1 a{
	margin-left: 8vw;
	font-size: 1.5rem;
	padding: 1.2rem 2.5rem;
	border: 1px solid rgb(55, 54, 51);
	color: rgb(55, 54, 51);
}
.contents4 .box4 p{
	width: 70%;
	font-size: 1.1rem;
	line-height: 2.3rem;
	margin-bottom: 33%;
	margin-left: 8vw;
	color: rgb(55, 54, 51);
}
.contents4 .box4 a{
	margin-left: 8vw;
	font-size: 1.5rem;
	padding: 1.2rem 2.5rem;
	border: 1px solid rgb(55, 54, 51);
	color: rgb(55, 54, 51);
}

.contents4 br{
	display: none;
}

.contents5{
	width: 100%;
	margin-bottom: 30vh;
	height: 100vh;
}
 .contents5 .swiper-pagination{
	position: relative;
	margin-top: 3%;
} 
.contents5 h4{
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 8vh;
	margin-left: 8vw;
}

.swiper-wrapper{
	width: 100%;
	height: 100%;
	margin-left: 8vw;
}
.mySwiper a{
	margin-top: 6vh;
}
.mySwiper p{
	font-size: 1.3rem;
	font-weight: 700;
	margin-top: 3vh;
	margin-bottom: 1.1vh;
}
.mySwiper span{
	font-size: 1rem;
	font-weight: 700;
}
.contents5 img{
	width: 100%;
	height: 100%;
}
.contents6{
	width: 80%;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 20vh;
}
.contents6 video{
	width: 38vw;
	height: fit-content;
}
.contents6 h4{
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 6vh;
	color: rgb(55, 54, 51);
}
.contents6 p{
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 1.5vh;
	margin-top: 2vh;
}
.contents6 .v1{

	margin-bottom: 10vh;
}
.contents6 .v2{

	margin-left: 4vw;
}

.contents6 .v4{
	margin-left: 4vw;
}
.contents6 span{
	font-size: 1rem;
}
.contents6 .box1,
.contents6 .box2
{
	display: flex;
}
.contents4 .box1 a{
	position: relative;
	transition: 0.3s;
}
.contents4 .box1 a::after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 0%;
	height: 100%;
	transition: .3s;
}
.contents4 .box1 a:hover{
	color: rgb(231,227,220);
}
.contents4 .box1 a:hover::after{
	width: 100%;
	background-color: rgb(55, 54, 51);
}
 .contents4 .box4 a{
	position: relative;
	transition: 0.3s;
}
.contents4 .box4 a::after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 0%;
	height: 100%;
	transition: .3s;
}
.contents4 .box4 a:hover{
	color: rgb(231,227,220);
}
.contents4 .box4 a:hover::after{
	width: 100%;
	background-color: rgb(55, 54, 51);
} 
.contents6 a{
	display: none;
}
footer{
	width: 100%;
	height: 500px;
	border-top: 1px solid rgb(55, 54, 51);
}
footer .flogo{
	font-size: 3.5rem;
	font-weight: 700;
	color: solid rgb(55, 54, 51);
	margin-top: 10vh;
	margin-left: 8vw;
}
.inner{
	display: flex;
	margin-top: 20vh;
	justify-content: space-between;
}
footer .inner1 {
	display: flex;
	margin-left: 8vw;
	margin-right: 2vw;
}
footer .inner1 p{
	font-size: 1.1rem;
	font-weight: 700;
	margin-right: 2vw;
}
footer .inner2{
	margin-right: 8vw;
}
footer .inner2 a{
	margin-left: 2vw;
	font-size: 1.1rem;
	font-weight: 700;
}
@media screen and (min-width:1024px)and (max-width:1200px){

	html{
		font-size: 15px;
	}
.title{
	width: 80%;
	margin-top: 10vh;
}	
.contents1{
	margin: 45vh 0;
}
.contents1 img{
	width: 100%;
	margin-bottom: 5vh;
	position: relative;
}


.contents3{
	width: 100vw;
	height: 130vh;
	overflow: hidden;
	
}
.contents3 h3{
	font-weight: 700;
	text-align: center;
	margin-bottom: 8vh;
}

.contents3 .box5{
	width: 63%;
	height: 25%;
	margin-left: 29%;
	position: relative;
	
}

.contents3 .box5 a:nth-child(2){
	margin-left: 1vw;
}
.contents3 .box6{
	width: 63%;
	height: 25%;
	margin-left: 8%;
}



.contents4{
	width: 100%;
	margin-bottom: 30vh;
	overflow: hidden;
}

.contents4 h4{
	font-weight: 700;
	margin-bottom: 2vh;
	margin-left: 8vw;
	margin-top: 10vh;
}
.contents4 .top,
.contents4 .bottom{
	width: 100%;
	height: 49vw;
	overflow: hidden;
	display: flex;
}
.contents4 .box1{
	width: 50%;
	height: 50vw;
	overflow: hidden;
}
.contents4 .box2{
	width: 50%;
	height: 50vw;
	overflow: hidden;
}
.contents4 .box3{
	width: 50%;
	height: 50vw;
	overflow: hidden;
}
.contents4 .box4{
	width: 50%;
	height: 50vw;
	overflow: hidden;
}

.contents4 .box2 a img{
	width: 100%;
}
.contents4 .box1 p{
	width: 70%;
	margin-left: 8vw;
}
.contents4 br{
	display: none;
}
.contents4 .box1 a{
	margin-left: 8vw;
	border: 1px solid rgb(55, 54, 51);
}
.contents4 .box4 p{
	width: 70%;
	margin-left: 8vw;
}
.contents4 .box4 a{
	margin-left: 8vw;
	border: 1px solid rgb(55, 54, 51);
}

.contents5{
	width: 100%;
	height: 100%;
	margin-bottom: 20vh;
	
}

.contents5 h4{
	font-weight: 700;
	margin-bottom: 8vh;
	margin-left: 10vw;
}
.swiper-wrapper{
	margin-left: 10vw;
}
.mySwiper a{
	margin-top: 6vh;
}
.mySwiper p{
	font-weight: 700;
	margin-top: 3vh;
	margin-bottom: 1.1vh;
}
.mySwiper span{
	font-weight: 700;
}
.contents5 img{
	width: 100%;
	height: 100%;
}

.contents6{
	width: 80%;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 20vh;
	overflow: hidden;
} 

.contents6 h4{
	font-weight: 700;
	margin-bottom: 6vh;

}

.contents6 p{
	font-weight: 700;
	margin-bottom: 1vh;
	margin-top: 2vh;
}
.contents6  video{
	width: 40vw;
	height: 20vh;
}
.contents6 .v1{
	width: 42%;
	margin-right: 3vw;
	margin-bottom: 7vh;
}
.contents6 .v3{
	width: 42%;
	margin-right: 3vw;
}
.contents6 span{
	margin-top: 1vh;
}
.contents6 .box1,
.contents6 .box2
{
	display: flex;
}









footer{
	width: 100%;
	height: 35vh;
	border-top: 1px solid rgb(55, 54, 51);
}
footer .flogo{
	font-weight: 700;
	color: solid rgb(55, 54, 51);
	margin-top: 7vh;
	margin-left: 8vw;
}
.inner{
	display: block;
	margin-top: 11vh;
	justify-content: space-between;
}
footer .inner1 {
	display: flex;
	margin-left: 8vw;
	margin-right: 2vw;
	margin-bottom: 2vh;
}
footer .inner1 p{
	font-weight: 700;
	margin-right: 2vw;
}
footer .inner2{
	display: flex;
	margin-left: 8vw;
	margin-right: 2vw;
}
footer .inner2 a{
	font-weight: 700;
	margin-right: 2vw;
	margin-left: 0;
}







}


@media screen and (min-width:767px)and (max-width:1023px){

	html{
		font-size: 13px;
	}

header ul li a{
	margin: 1vw;
	color: rgb(55, 54, 51);
}
.title{
	width: 80%;
	margin: 0 auto;
	margin-top: 11vh;
	margin-bottom: 15vh;
}
.title h2 br{
	display: none;
}
.contents1{
	margin: 45vh 0;
}


.contents2 h3{
	font-weight: 700;
	margin-bottom: 2vh;
}
.contents2 p{
	margin-bottom: 3vh;
}
.contents2 img{
	width: 83vw;
	margin: 0 auto;
}
.contents3{
	width: 100vw;
	height: 200vh;
	overflow: hidden;
}
.contents3 h3{
	font-weight: 700;
    margin-left: 40%;
	margin-bottom: 8vh;
}
.contents3 .i1{
	width: 100%;
	height: 90vh;
	margin-left: 28%;
	position: relative;
}

.contents3 .i1 a:first-child{
	margin-right: 2vw;
}
.contents4{
	margin-bottom: 30vh;
	overflow: hidden;
}
.contents4 h4{
	font-weight: 700;
	margin-bottom: 1vh;
	margin-left: 8vw;
	margin-top: 6vh;
}
.contents4 .top,
.contents4 .bottom{
	width: 100%;
	height: 49vw;
	overflow: hidden;
	display: flex;
}
.contents4 .box1{
	width: 50%;
	height: 50vw;
	overflow: hidden;
}
.contents4 .box2{
	width: 50%;
	height: 50vw;
	overflow: hidden;
}
.contents4 .box3{
	width: 50%;
	height: 50vw;
	overflow: hidden;
}
.contents4 .box4{
	width: 50%;
	overflow: hidden;
}

.contents4 .box2 a img{
	width: 100%;
}
.contents4 .box1 p{
	width: 70%;
	margin-left: 8vw;
}
.contents4 br{
	display: none;
}
.contents4 .box1 a{
	margin-left: 8vw;
	border: 1px solid rgb(55, 54, 51);
}
.contents4 .box4 p{
	width: 70%;
	margin-left: 8vw;
}
.contents4 .box4 a{
	margin-left: 8vw;
	border: 1px solid rgb(55, 54, 51);
}




.contents5{
	height: 100%;
	margin-bottom: 20vh;
}

.contents5 h4{
	font-weight: 700;
	margin-bottom: 6vh;
}

.mySwiper a{
	margin-top: 6vh;
}
.mySwiper p{
	font-weight: 700;
	margin-top: 3vh;
	margin-bottom: 1.1vh;
}
.mySwiper span{
	font-weight: 600;
}
.contents5 img{
	width: 100%;
	height: 100%;
}


.contents6 {
    width: 80%;
    height: 80vh;
    margin: 0 auto;
}

.contents6 h4{
	font-weight: 700;
	margin-bottom: 6vh;

}
.contents6  video{
	width: 40vw;
	height: fit-content;
}
.contents6 p{
	font-weight: 700;
	margin-bottom: 1vh;
	margin-top: 2vh;
}
.contents6 .box1,
.contents6 .box2{
	display: flex;
}
.contents6 .v1 {
    margin-bottom: 5vh;
}
footer{
	width: 100%;
	height: 40vh;
	border-top: 1px solid rgb(55, 54, 51);
}
footer .flogo{
	font-weight: 700;
	margin-top: 8vh;
	margin-left: 8vw;
}
.inner{
	display: block;
	margin-top: 12vh;
	justify-content: space-between;
}
footer .inner1 {
	display: flex;
	margin-left: 8vw;
	margin-right: 2vw;
	margin-bottom: 3vh;
}
footer .inner1 p{
	font-weight: 700;
	margin-right: 2vw;
}
footer .inner2{
	display: flex;
	margin-left: 8vw;
}
footer .inner2 a{
	margin-left: 0;
	margin-right: 2vw;
	font-weight: 700;
}


}

@media screen and (min-width:540px)and (max-width:766px){
html{
	font-size: 10px;
}

header ul li a{

	margin: 1vw;
	color: rgb(55, 54, 51);
}
.title{
	font-size: 1.6rem;
	width: 80%;
	margin: 0 auto;
	margin-top: 10vh;
	margin-bottom: 15vh;
}
.title h2 br{
	display: none;
}

.contents1{
	margin: 45vh 0;
}
.contents1 h3{
	margin-bottom: 2vh;
}
.contents1 .text{
	width: 80%;
	margin: 10vh auto;
	display: block;
}


.contents2 h3{
	font-weight: 700;
	margin-bottom: 2vh;
}

.contents2 img{
	width: 83vw;
	margin: 0 auto;
}
.contents3{
	width: 100vw;
	height: 200vh;
	overflow: hidden;
}
.contents3 h3{
	font-weight: 700;
    margin-left: 40%;
	margin-bottom: 8vh;
}
.contents3 .i1{
	width: 100%;
	height: 90vh;
	margin-left: 28%;
	position: relative;
}

.contents3 .i1 a:first-child{
	margin-right: 2vw;
}


.contents4{
	width: 100%;
	height: 100%;
	margin-bottom: 25vh;
	overflow: hidden;
}

.contents4 h4{
	font-weight: 700;
	margin-bottom: 1vh;
	margin-left: 8vw;
	margin-top: 4vh;
}
.contents4 .top,
.contents4 .bottom{
	width: 100%;
	height: 49vw;
	overflow: hidden;
	display: flex;
}
.contents4 .box1{
	width: 50%;
	height: 50vw;
	overflow: hidden;
}
.contents4 .box2{
	width: 50%;
	height: 50vw;
	overflow: hidden;
}
.contents4 .box3{
	width: 50%;
	height: 50vw;
	overflow: hidden;
}
.contents4 .box4{
	width: 50%;
	height: 50vw;
	overflow: hidden;
}

.contents4 .box2 a img{
	width: 100%;
}
.contents4 .box1 p{
	font-size: 1rem;
	line-height: 1.6rem;
	width: 70%;
	margin-left: 8vw;
}
.contents4 br{
	display: none;
}
.contents4 .box1 a{
	margin-left: 8vw;
	border: 1px solid rgb(55, 54, 51);
}
.contents4 .box4 p{
	font-size: 1rem;
	line-height: 1.6rem;
	width: 70%;
	margin-left: 8vw;
}
.contents4 .box4 a{
	margin-left: 8vw;
	border: 1px solid rgb(55, 54, 51);
}




.contents5{
	height: 100%;
	margin-bottom:20vh;
}

.contents5 h4{
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 6vh;
}

.mySwiper a{
	margin-top: 6vh;
}
.mySwiper p{
	font-size: 1.3rem;
	font-weight: 700;
	margin-top: 2vh;
	margin-bottom: 0.8vh;
}
.mySwiper span{
	font-size: 1rem;
	font-weight: 600;
}
.contents5 img{
	width: 100%;
	height: 100%;
}
.contents6 {
    width: 80%;
    height: 75vh;
    margin: 0 auto;
}
.contents6 h4{
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 6vh;
}
.contents6  video{
	width: 100%;
	height: 16vh;
}
.contents6 p{
	font-weight: 700;
	margin-bottom: 0.8vh;
	margin-top: 2vh;
}


.contents6 .box1,
.contents6 .box2{
	display: flex;
}
.contents6 .v1 {
    margin-bottom: 4vh;
}
footer{
	width: 100%;
	height: 30vh;
	border-top: 1px solid rgb(55, 54, 51);
}
footer .flogo{
	font-weight: 700;
	color: solid rgb(55, 54, 51);
	margin-top: 5vh;
	margin-left: 8vw;
}
.inner{
	display: block;
	margin-top: 10vh;
	justify-content: space-between;
}
footer .inner1 {
	display: flex;
	margin-left: 8vw;
	margin-right: 2vw;
	margin-bottom: 3vh;
}
footer .inner1 p{
	font-size: 1rem;
	font-weight: 700;
	margin-right: 2vw;
}
footer .inner2{
	display: flex;
	margin-left: 8vw;
}
footer .inner2 a{
	margin-left: 0;
	margin-right: 2vw;
	font-weight: 700;
}

	
}

@media screen and (max-width:539px){

	
	html{
		font-size: 10px;
	}
	header .logo{
		font-size: 1.7rem;
	}
	header ul li a{
		font-size: 1.5rem;
		margin: 1vw;
		color: rgb(55, 54, 51);
	}
	.title{
		font-size: 1.5rem;
		width: 80%;
		margin: 0 auto;
		margin-top: 8vh;
		margin-bottom: 15vh;
	}
	.title h2 br{
		display: none;
	}
	

	.contents1{
		margin: 40vh 0;
	}


	.contents1 h3{
		margin-bottom: 3vh;
	}
	.contents1 .text{
		width: 80%;
		margin: 10vh auto;
		display: block;
	}
	.contents2 {
		margin-bottom: 20vh;
	}
	.contents2 h3{
		font-weight: 700;
		margin-bottom: 2vh;
	}
	
	.contents2 img{
		width: 100%;
		margin: 0 auto;
	}
	.contents3{
		width: 100vw;
		height: 200vh;
		overflow: hidden;
	}
	
	.contents3 .i1{
		width: 100%;
		height: 90vh;
		margin-left: 28%;
		position: relative;
	}
	
	.contents3 .i1 a:first-child{
		margin-right: 2vw;
	}
	
	
	.contents4{
		width: 100%;
		height: 100%;
		margin-bottom: 20vh;
		overflow: hidden;
	}
	
	.contents4 h4{
		font-size: 3rem;
		font-weight: 700;
		margin-bottom: 2vh;
		margin-top: 15%;
		margin-left: 0;
	}
	.contents4 .top{
		width: 100%;
		height: 200vw;
		overflow: hidden;
		display: flexbox;
		flex-direction: column-reverse;
	}

	.contents4 .bottom{
		width: 100%;
		height: 200vw;
		overflow: hidden;
		display: block;
	}
	
	.contents4 .box1{
		width: 80%;
		height: 100vw;
		overflow: hidden;
		margin: 0 auto;
	}
	.contents4 .box2{
		width: 100%;
		height: 100vw;
		overflow: hidden;
	}
	.contents4 .box3{
		width: 100%;
		height: 100vw;
		overflow: hidden;
	}
	.contents4 .box4{
		width: 80%;
		height: 100vw;
		overflow: hidden;
		margin: 0 auto;
	}

	.contents4 .box2 a img{
		width: 100%;
	}
	.contents4 .box1 p{
		font-size: 1.5rem;
		width: 100%;
		margin-bottom: 50%;
		margin-left: 0;
	}
	.contents4 br{
		display: none;
	}
	.contents4 .box1 a{
		font-size: 1.8rem;
		border: 1px solid rgb(55, 54, 51);
		margin-left: 0;
	}
	.contents4 .box4 p{
		font-size: 1.5rem;
		width: 100%;
		margin-bottom: 45%;
		margin-left: 0;
	}
.contents4 p br{
	display: none;
}

	.contents4 .box4 a{
		font-size: 1.8rem;
		margin-left: 8vw;
		border: 1px solid rgb(55, 54, 51);
		margin-left: 0;
	}
	
	
	
	
	.contents5{
		height: 40vh;
		margin-bottom: 15%;
	}
	
	.contents5 h4{
		font-size: 2.5rem;
		font-weight: 700;
		margin-bottom: 4vh;
	}
	.contents5 img {
		width: 100%;
		height: 100%;
	}
	.mySwiper a{
		margin-top: 6vh;
		
	}
	.mySwiper p{
		font-size: 1.3rem;
		font-weight: 700;
		margin-top: 2vh;
		margin-bottom: 0.8vh;
	}
	.mySwiper span{
		font-size: 1rem;
		font-weight: 600;
	}
	.contents5 img{
		width: 100%;
		height: 100%;
	}
	.contents6{
		width: 80%;

		margin: 0 auto;
		margin-bottom: 30vh;
	}
	
	.contents6 video{
		width: 100%;
		height: fit-content;
	}
	.contents6 h4{
		font-size: 2.5rem;
		font-weight: 700;
		margin-bottom: 6vh;
	
	}
	.contents6 p{
		font-size: 1.3rem;
		font-weight: 700;
		margin-bottom: 1vh;
		margin-top: 2vh;
	}
	.contents6 .v1{
	margin: 0 auto;
	margin-bottom: 5vh;
	}
	.contents6 .v2{
		margin: 0 auto;
		margin-bottom: 10vh;
	}

	.contents6 .v3,
	.contents6 .v4{
		display: none;
	}
	.contents6 span{
		font-size: 1rem;
	}
	.contents6 .box1,
	.contents6 .box2
	{
	display: block;
	}
	.contents6 a{
		display: block;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 1.8rem;
		padding: 1.5rem 2.5rem;
		border: 1px solid rgb(55, 54, 51);
	}
	












	
	
	footer{
		width: 100%;
		height: 30vh;
		border-top: 1px solid rgb(55, 54, 51);
	}
	footer .flogo{
		font-weight: 700;
		color: solid rgb(55, 54, 51);
		margin-top: 5vh;
		margin-left: 8vw;
	}
	.inner{
		display: block;
		margin-top: 10vh;
		justify-content: space-between;
	}
	footer .inner1 {
		display: flex;
		margin-left: 8vw;
		margin-right: 2vw;
		margin-bottom: 2vh;
	}
	footer .inner1 p{
		font-size: 1rem;
		font-weight: 700;
		margin-right: 2vw;
	}
	footer .inner2{
		display: flex;
		margin-left: 8vw;
	}
	footer .inner2 a{
		margin-left: 0;
		margin-right: 2vw;
		font-weight: 700;
	}
	
	
}

@media screen and (max-width:400px){
	
	html{
		font-size: 10px;
	}
	header .logo{
		font-size: 1.7rem;
	}
	.title{
		width: 80%;
		margin: 0 auto;
		margin-top: 8vh;
	}
	
	.title h2 br{
		display: none;
	}
	.contents1{
		margin: 40vh 0;
	}
	.contents1 h3{
		margin-bottom: 4vh;
	}
	.contents1 .text{
		width: 80%;
		margin: 10vh auto;
		display: block;
	}
	.contents1 .text p{
		font-size: 1.4rem;
		line-height: 3rem;
	}
	.contents2 {
		margin-bottom: 20vh;
	}
	.contents2 h3{
		font-weight: 700;
		margin-bottom: 2vh;
	}
	.contents2 p{
		font-size: 1.4rem;
		line-height: 3rem;
	}
	.contents2 img{
		width: 100%;
		margin: 0 auto;
	}
	.contents3{
		width: 100vw;
		height: 200vh;
		overflow: hidden;
	}
	
	.contents3 .i1{
		width: 100%;
		height: 90vh;
		margin-left: 28%;
		position: relative;
	}
	
	.contents3 .i1 a:first-child{
		margin-right: 2vw;
	}
	
	
	.contents4{
		width: 100%;
		height: 100%;
		margin-bottom: 20vh;
		overflow: hidden;
	}
	
	.contents4 h4{
		font-size: 3rem;
		font-weight: 700;
		margin-bottom: 2vh;
		margin-top: 15%;
		margin-left: 0;
	}
	.contents4 .top{
		width: 100%;
		height: 200vw;
		overflow: hidden;
		display: flexbox;
		flex-direction: column-reverse;
	}

	.contents4 .bottom{
		width: 100%;
		height: 200vw;
		overflow: hidden;
		display: block;
	}
	
	.contents4 .box1{
		width: 80%;
		height: 100vw;
		overflow: hidden;
		margin: 0 auto;
	}
	.contents4 .box2{
		width: 100%;
		height: 100vw;
		overflow: hidden;
	}
	.contents4 .box3{
		width: 100%;
		height: 100vw;
		overflow: hidden;
	}
	.contents4 .box4{
		width: 80%;
		height: 100vw;
		overflow: hidden;
		margin: 0 auto;
	}

	.contents4 .box2 a img{
		width: 100%;
	}
	.contents4 .box1 p{
		font-size: 1.5rem;
		width: 100%;
		margin-bottom: 50%;
		margin-left: 0;
	}
	.contents4 br{
		display: none;
	}
	.contents4 .box1 a{
		font-size: 1.8rem;
		border: 1px solid rgb(55, 54, 51);
		margin-left: 0;
	}
	.contents4 .box4 p{
		font-size: 1.5rem;
		width: 100%;
		margin-bottom: 45%;
		margin-left: 0;
	}
.contents4 p br{
	display: none;
}

	.contents4 .box4 a{
		font-size: 1.8rem;
		margin-left: 8vw;
		border: 1px solid rgb(55, 54, 51);
		margin-left: 0;
	}
	
	
	
	
	.contents5{
		height: 40vh;
		margin-bottom: 15%;
	}
	
	.contents5 h4{
		font-size: 2rem;
		font-weight: 700;
		margin-bottom: 4vh;
	}
	.contents5 img {
		width: 100%;
		height: 100%;
	}
	.mySwiper a{
		margin-top: 6vh;
		
	}
	.mySwiper p{
		font-size: 1.3rem;
		font-weight: 700;
		margin-top: 2vh;
		margin-bottom: 0.8vh;
	}
	.mySwiper span{
		font-size: 1.3rem;
		font-weight: 500;
	}
	.contents5 img{
		width: 100%;
		height: 100%;
	}
	.contents6{
		width: 80%;
		height: 90vh;
		margin: 0 auto;
		margin-bottom: 20vh;
	}
	
	.contents6 video{
		width: 100%;
		height: fit-content;
	}
	.contents6 h4{
		font-size: 2.5rem;
		font-weight: 700;
		margin-bottom: 6vh;
	
	}
	.contents6 p{
		font-size: 1.3rem;
		font-weight: 700;
		margin-bottom: 1vh;
		margin-top: 2vh;
	}
	.contents6 .v1{
	margin: 0 auto;
	margin-bottom: 5vh;
	}
	.contents6 .v2{
		margin: 0 auto;
		margin-bottom: 10vh;
	}

	.contents6 .v3,
	.contents6 .v4{
		display: none;
	}
	.contents6 span{
		font-size: 1rem;
	}
	.contents6 .box1,
	.contents6 .box2
	{
	display: block;
	}
	.contents6 a{
		display: block;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 1.8rem;
		padding: 1.2rem 2.5rem;
		border: 1px solid rgb(55, 54, 51);
	}
	
	
	footer{
		width: 100%;
		height: 30vh;
		border-top: 1px solid rgb(55, 54, 51);
	}
	footer .flogo{
		font-weight: 700;
		color: solid rgb(55, 54, 51);
		margin-top: 5vh;
		margin-left: 8vw;
	}
	.inner{
		display: block;
		margin-top: 10vh;
		justify-content: space-between;
	}
	footer .inner1 {
		display: flex;
		margin-left: 8vw;
		margin-right: 2vw;
		margin-bottom: 2vh;
	}
	footer .inner1 p{
		font-size: 1rem;
		font-weight: 700;
		margin-right: 2vw;
	}
	footer .inner2{
		display: flex;
		margin-left: 8vw;
	}
	footer .inner2 a{
		margin-left: 0;
		margin-right: 2vw;
		font-weight: 700;
	}

}

