@font-face {
  font-family:'NotoSans-Medium';
  src: url('../font/NotoSansKR-Medium.ttf') format('truetype');
}
@font-face {
  font-family:'NotoSans-Bold';
  src: url('../font/NotoSansKR-Bold.ttf') format('truetype');
}
@font-face {
  font-family:'NotoSans-Regular';
  src: url('../font/NotoSansKR-Regular.ttf') format('truetype');
}
/*css초기화 
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
NotoSansKR-Regular

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all .5s;
 }
 li{
  list-style: none;
 }
 a{
  text-decoration: none;
  color: black;
 }
 body{
  color: inherit;
 }
 img{
  display: block;
 }
 html{
  font-size: 10px;
 }

 .wrap{
  position: relative;
  width: 100%;
  height: 800%;
  overflow: hidden;
  background-color: rgb(235, 228, 220);
 }
/* 비디오 컨테이너 */
.video-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 95vh; /* 헤더의 높이를 뺀 만큼의 높이를 설정합니다. */
  overflow: hidden;
}

/* 비디오 */

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  object-fit: cover;
}
header {
  position: absolute; /* 페이지 상단에 고정됨 */
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 8.5vh; 
  z-index: 1000; /* 다른 요소보다 위에 나타나도록 설정 */
  font-family: 'NotoSans-Regular';
  font-weight: 400;
}


.logo{
  width: 20%;
  height: 5vh;
}
 header .logo img{
  width: 9vw;
  height: 5vh;
  margin: 4% 15%;
 }
 nav{
  display: flex;
  font-size: 1.6rem;
  line-height: 8rem;
  width: 60%;
  height: 100%;
  text-align: center;
  align-items: center;
  z-index: 999;
  position: relative;

 }
 nav>ul{
  width: 100%;
  height: 100%;
 }
.mainmenu{
  width: 8.5vw;
  height: 100%;
  position: relative;
 }
 .mainmenu li {
  width: 100%;
  font-weight: 500;
  margin: 0;
}
 nav .submenu{
 width: 100%;
 height: 100%;
font-size: 1.5rem;
position: relative;
display: block;
padding: 0;
display: none;
 }

 
 .mainmenu li:hover {
  font-weight: 800; /* 마우스를 올린 메뉴 항목의 글꼴을 굵게 설정 */
}
.mainmenu li:hover .submenu li:hover {
  border-bottom: 1px solid black;
}
.mainmenu .submenu li {
  z-index: 999;
  border: none;
}
/* 다른 메뉴 항목의 글꼴은 기본값(400)으로 설정 */

 .submenu::after {
  content: '';
  position: absolute;
  top: 0;
  left:-1000%;
  width: 1500%; /* 부모 요소의 가로 폭의 두 배 */
  height: 100%;
  background-color: #ffffff;
  z-index:-1;
  border-top: 1px solid black;
}


 .user_info{
  width: 10%;
  height: 5vh;
  display: flex;
  margin-right: 2%;
 }
 button{
  font-size: 1.6rem;
  border: none;
  width: 100%;
  height: 100%;
  line-height: 8rem;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: 'NotoSans-Regular';
  font-weight: 400;
  color: #000000;
 }
 .hamburger-menu {
  display: none;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;

}
 .close-box {
  display: none;
  width: 4vw;
  height: 2.5vh;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1% 2%;
}

 /* 첫번쨰 new제품 */
 section{
  width: 80%;
  margin: auto;
  padding-top: 20vh;
 }
 .sec1{
  width: 100%;
  height: 100%;
  display: flex;
 }
 .sec1 .txt_box{
  width: 50%;
  height: 100%;
 }
 .sec1_img{
  width: 50%;
 }
 .new{
  font-size: 2rem;
  margin-bottom: 2%;
  font-weight: 500;
  font-family: 'NotoSans-Medium';
  color: #2b2927;
 }


 
 .txt{
  font-size: 4rem;
  line-height: 5rem;
  margin-bottom: 10%;
  font-family: 'NotoSans-Bold';
  font-weight: 700;
  color: #2b2927;
 }

 .inner_txt{
  font-size: 1.5rem;
  line-height: 2.3rem;
  margin-bottom: 2%;
  font-family: 'NotoSans-Regular';
  font-weight: 400;
  color: #2b2927;
 }
 .button {
  font-size: 1.4rem;
  display: inline-block;
  padding: 2% 5%;
  text-decoration: none;
  border: 1px solid #2b2927;
  cursor: pointer;
  margin-top: 20%;
  color: #2b2927;
}

.button span:first-child {
  margin-right: 10px; /* 왼쪽과 텍스트 사이의 간격 조절 */
}

/* 두번째제품 */
 .sec2{
  width: 100%;
  height: 100%;
  margin-top: 20%;
 }
 .sec2 .txt{
  line-height: 5rem;
  margin-bottom: 4%;
 }
/* 스와이퍼 슬라이드1 */
.swiper-container1 {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .swiper-wrapper{
    width: 100%;
    height: 100%;
  }

  .swiper-container1 .swiper-slide {
    text-align: center;
    width: 30%; 
    height: 100%; 
    margin: 0;
    margin-bottom: 5%;
}
.swiper-container1  img{
  width: 100%;
  height: fit-content;
}
  .swiper-pagination1 {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .swiper-pagination1 .swiper-pagination-bullet {
    width: 100%;
    height: 2px;
    background-color: #2b2927;
    position: relative;
    margin: 0; 

  }
 

  /* 세번째제품 */

  .sec3{
    width: 100%;
    height: 100%;
    margin-top: 20%;
   }
  .sec3 .txt_box{
    text-align: left;
  }
  .sec3 .txt{
    padding-bottom: 10%;
  } 
    /* 스와이퍼 슬라이드2 */
    .swiper-container2{
      width: 100%;
      height: 100%;
      position: relative;
    }
   
    .swiper-container2 .swiper-slide {
      text-align: center;
      width: 30%; 
      height: 100%; 
      margin: 0;
      margin-bottom: 10%;
      font-size: 1.8rem;
      position: relative;
    }
    .swiper-container1  img{
      width: 100%;
      height: fit-content;
    }
    .swiper-container2 .swiper-slide:first-child{
      width: 40%; 
    }     
    .swiper-pagination2{
      display: flex;
      justify-content: center;
      position: relative;
  
    }
    .product_name {
      text-align: left;
      margin-top: 3%;
      font-weight: 500;
      font-family: 'NotoSans-Medium';
      color: #353432;
  }
  
    .swiper-pagination2 .swiper-pagination-bullet {
      width: 100%;
      height: 2px;
      position: relative;
      margin: 0;
      background-color: #2b2927;
    }

   
    .sec4 {
      width: 100%;
      height: 100%;
      margin-top: 20%;
      display: flex;
  }
  
  .sec4 .box {
      position: relative;
  }
  .sec4 .inner_txt{
    margin-top: 3%;
    margin-bottom: 7%; 
    display: none;
  }
  .sec4 .new{
    display: none;
  }
  .txt_box1,
  .txt_box2 {
      padding: 18%;
      position: absolute;
      top: 0;
      z-index: 2;
  }
  
  .box1:hover img {
      opacity: 0.3;
      z-index: 1;
  }
  
  .box2:hover img {
      opacity: 0.3;
      z-index: 1;
  }
  
  .box1:hover .txt_box1 .inner_txt,
  .box1:hover .txt_box1 .new {
      display: block;
  }
  
  .box2:hover .txt_box2 .inner_txt,
  .box2:hover .txt_box2 .new {
      display: block;
  }
  
/* 푸터 */
footer {
  width: 100%;
  height: 60%;
  background-color: #353432;
  display: flex;
  position: relative;
  font-family: 'NotoSans-Regular';
}
/* leftfooter */
.left {
  width: 50%;
  height: 100%;
  padding: 4% 0% 0% 5%;
  color: #fff;
}
.footerlogo{
  margin-bottom: 3vh;
}
.left_inner{
  margin-bottom: 5%;
}
.footertxt{
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: #b8b0ab;
}
.footer_txt{
  font-size: 1.3rem;
  line-height: 2.3rem;
  color: #b8b0ab;
}
.number{
  font-size: 4rem;
  font-family: 'NotoSans-Bold';
  margin-top: 1%;
  margin-bottom: 7%;
  color: #fff;
}
/* rightfooter */
.right {
  width: 50%;
  height: 100%;
  margin: 0%;
  display: flex;
}
.right_inner{
  display: flex;
  width: 100%;
  margin-bottom: 5%;
}
.footersite {
  padding: 7% 10% 0% 0%;
  
}
.footersite ul {
  margin-top: 20%;
}

.footersite>li>a {
  font-size: 1.8rem;
  line-height: 3.8rem;
  font-weight: 700;
}

.footersite ul li{
  font-size: 1.4rem;
  line-height: 2.3rem;
  margin-top: 10%;
}
.footersite a{
  color: #e7e6e6;
}
.footersite .footersubmenu li a{
  color: #b8b0ab;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  /* 대형 데스크탑에 대한 스타일링 */

  .video-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 95vh; /* 헤더의 높이를 뺀 만큼의 높이를 설정합니다. */
    overflow: hidden;
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    object-fit: cover;
  }
 .user_info{
  width: 15vw;
 }
 .hamburger-menu{
  display: none;
 }
 .close-box{
  display: none;
 }
  header{
    height: 8vh;
  }
   header .logo img{
    width: 13vw;
    height: 5vh;
    margin: 5% 15%;
   }
   nav{
    font-size: 1.5rem;
    line-height: 5rem;
   }
  .mainmenu{
    width: 10vw;
    height: 6vh;
   }
   nav .submenu{
   width: 100%;
   height: 33vh;
  font-size: 1.4rem;
  position: relative;
  display: none;
   }
  .user_info{
    margin-right: 1%;
  }
  button{
    font-size: 1.5rem;
    line-height: 7rem;
  }
   /* 첫번쨰 new제품 */
   section{
    width: 90%;
    margin: auto;
    padding-top: 23vh;
   }
   .sec1{
    margin-top: 5%;
   }
   .sec1 .txt_box{
    width: 43%;
    height: 100%;
    margin-right: 2%;
   }
   .new{
    font-size: 1.8rem;
    margin-bottom: 1%;
   }
  .sec1_img{
    width: 55%;
  }
  .sec1 img{
    width: 100%;
  }
   .txt{
    font-size: 3.4rem;
    margin-bottom: 8%;
   }
  
   .inner_txt{
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin-bottom: 2%;
   }
   .button {
    margin-top: 7%;
  }
  /* 두번째제품 */
  .swiper-container1 .swiper-slide {
    width: 35%; 
    margin-bottom: 10%;
}
   /* 세번째제품 */
   .swiper-container2 .swiper-slide {
    text-align: center;
    width: 45%; 
    margin: 0;
    margin-bottom: 10%;
  }
  .swiper-container2 .swiper-slide:first-child{
    width: 45%; 
  }
      /* 네번째 섹션 */
      .sec4 {
        height: 75vh;
    }
    .sec4 .box{
      width: 50vw;
      overflow: hidden;
    }
    .sec4 img{
      width: 130%;
    }
    .sec4 .inner_txt{
      margin-top: 2%;
      margin-bottom: 7%; 
      display: none;
    }
    .sec4 .new{
      display: none;
    }
    .txt_box1,
    .txt_box2 {
        padding: 9%;
    }
  /* 푸터 */
  .footerlogo{
    margin-bottom: 8vh;
  }
  .footertxt{
    font-size: 1.4rem;
  }
  .footer_txt{
    font-size: 1.2rem;
    line-height: 2.1rem;
  }
  .number{
    font-size: 3.6rem;
    font-weight: 700;
    margin-top: 1%;
    margin-bottom: 4%;
  
  }
  /* rightfooter */
  footer {
    height: 100%;
    flex-direction: column-reverse; /* 세로로 쌓이되, 순서를 반대로 */
  }
  .left {
    border-top: 1px solid rgb(58, 58, 58);
    width: 90%;
    height: 65%;
    padding: 0;
    margin: auto;
  }
  .footerlogo{
    margin-bottom: 8vh;
  }
  .footertxt{
    font-size: 1.3rem;
  }
  .footer_txt{
    font-size: 1.2rem;
    line-height: 2.1rem;
  }
  .number{
    font-size: 3.6rem;
    font-weight: 700;
    margin-top: 1%;
    margin-bottom: 4%; 
    color: #fff;
  }
  .left_inner {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  .left .footerlogo {
    margin-right: auto; 
  }
  .left .footerinner {
    text-align: right;
    margin-top: 5%;
  }
  /* rightfooter */
  .right {
    width: 90%;
    height: 80%;
    display: flex;
  }
  .footersite {
    padding: 0;
    padding: 4% 5% 0% 5%;
  }
  .footersite li{
    width: 11vw;
  }
  .footersite ul {
    margin-top: 20%;
  }
  .footersite>li>a {
    font-size: 1.8rem;
    line-height: 3.8rem;
    font-weight: 700;
  }
  .footersite ul li{
    font-size: 1.4rem;
    line-height: 2.3rem;
    margin-top: 10%;
  }
}
/* 태블릿 */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  /* 태블릿에 대한 스타일링 */
  header{
    height: 12vh;
  }
   header .logo img{
    width: 14vw;
    height: 8vh;
    margin: 7% 15%;
    position: relative;
   }
  header nav{
    top: 100%;
    left: -13.9%;
    width: 100%;
    height: 116%;
    line-height: 6rem;
    background-color: rgb(48, 47, 46);
    display: none;
  }
   nav a{
    color: white;
   }
  .mainmenu{
    width: 16.6vw;
    height: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);
    display: flex;
   }
   .mainmenu li {
    width: 100%;
    font-weight: 500;
    margin: 0;
  }
   nav .submenu{
   width: 100%;
   height: 70vh;
  font-size: 1.3rem;
  position: relative;
  pointer-events: none;
  display: block;
  background-color: rgb(48, 47, 46)
   }
   nav .submenu::after {
    display: none;
  }
  .user_info{
    width: 18vw;
 display: flex; 
 position: absolute;
 top: 0;
  right: 10%;
  margin: 0% 2%;
 pointer-events: none;
  }
  button{
    width: 15vw;
    font-size: 1.4rem;
    line-height: 5rem;
  }
  .hamburger-menu {
    margin: 1.5% 3%;
    display: block;
  }
  .close-box{
    display: none; 
    margin: 1.5% 2%;
  }
  .mainmenu,
  .submenu {
     display: block;
  }
   /* 첫번쨰 new제품 */
   section{
    width: 80%;
    margin: auto;
    padding-top: 23vh;
   }
   .sec1{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    display: block;
   }
   .sec1 .txt_box{
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
   }
   .new{
    font-size: 1.8rem;
    margin-bottom: 2%;
   }
  .sec1_img{
    width: 100%;
  }
  .sec1 img{
    width: 100%;
  }
   .txt{
    font-size: 3.2rem;
    line-height: 4rem;
   }
   .inner_txt{
    line-height: 2.2rem;
   }
   .button {
    margin-top: 5%;
  }
  /* 두번째제품 */
  .sec2 .txt{
    font-size: 3.2rem;
    line-height: 5rem;
   }
  /* 스와이퍼 슬라이드1 */
  .swiper-container1 .swiper-slide {
   width: 40%; 
    margin-bottom: 10%;
   text-align: center;
}
 
.swiper-container1  img{
  width: 100%;
  height: fit-content;
}
    /* 세번째제품 */
    .swiper-container2 .swiper-slide {
      text-align: center;
      width: 55%; 
      margin-bottom: 10%;
      font-size: 1.8rem;
      position: relative;
    }
    .swiper-container2 img{
      width: 100%;
      height: fit-content;
    }
    .swiper-container2 .swiper-slide:first-child{
      width: 65%; 
    }    
      /* 네번째 섹션 */
      .sec4 {
        display: block;
        height: 100%;
    }
    .sec4 .box{
      width: 100%;
      overflow: hidden;
    }
    .sec4 img{
      width: max-content;
    }
    .sec4 .inner_txt{
      font-size: 1.4rem;
      margin-top: 2%;
      margin-bottom: 7%; 
      line-height: 2.5rem;
      display: none;
    }
    .sec4 .new{
      display: none;
    }
    .txt_box1,
    .txt_box2 {
        padding: 9%;
    }
  /* 푸터 */
  /* leftfooter */ 
  .footerlogo{
    margin-bottom: 8vh;
  }
  .footertxt{
    font-size: 1.4rem;
  }
  .footer_txt{
    font-size: 1.2rem;
    line-height: 2.1rem;
  }
  .number{
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 4%;
    color: #fff;
}
  /* rightfooter */
  footer {
    height: 100%;
    flex-direction: column-reverse; /* 세로로 쌓이되, 순서를 반대로 */
  }
  .left {
    border-top: 1px solid rgb(58, 58, 58);
    width: 90%;
    height: 65%;
    padding: 0;
    margin: auto;
  }
  .footerlogo{
    margin-bottom: 8vh;
  }
  .footertxt{
    font-size: 1.3rem;
  }

  .left_inner {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  .left .footerlogo {
    margin-top: 4%;
    margin-bottom: auto;
  }
  .left .footerinner {
    text-align: right;
    margin-top: 3%;
  }
  /* rightfooter */
  .right {
    width: 90%;
    height: 80%;
    display: flex;
  }
  .footersite {
    padding: 0;
    padding: 4% 4% 0% 4%;
  }
  .footersite li{
    width: 13vw;
  }
  .footersite ul {
    margin-top: 20%;
  }
  .footersite>li>a {
    font-size: 1.6rem;
    line-height: 3.8rem;
    font-weight: 700;
  }
  .footersite ul li{
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin-top: 10%;
  }
  .footersite a{
    color: #e7e6e6;
  }
  .footersite .footersubmenu li a{
    color: #b8b0ab;
  }
}
/* 작은 모바일 */
@media screen and (min-width:540px)and (max-width:766px){

   header{
    height: 9vh;
  }
   header .logo img{
    width: 22vw;
    height: 6vh;
    margin: 9% 15%;
   }
  header nav{
    font-size: 1.4rem;
    top: 100%;
    left: -20%;
    width: 100%;
    height: 100%;
    line-height: 6rem;
    background-color: rgb(48, 47, 46);
    
    display: none;
   }
   nav a{
    color: white;
   }
  .mainmenu{
    width: 16.7vw;
    height: 100%;
    display: flex;
   }

   .mainmenu li {
    width: 100%;
    font-weight: 700;
    margin: 0;
  }
  .mainmenu li:hover .submenu li:hover {
    border-bottom: none;
}
   nav .submenu{
   width: 100%;
   height: 80vh;
  position: relative;
  pointer-events: none;
  display: block;
  background-color: rgb(48, 47, 46);
  border-top: 1px solid white;
   }
   .submenu a{
  font-size: 1.3rem;
    font-weight: 500;
   }
   nav .submenu::after {
    display: none;
  }
  .user_info{
    width: 22vw;
 display: flex; 
 position: absolute;
 top: 0;
  right: 10%;
  margin: 0% 2%;
 pointer-events: none;
  }
  button{
    font-size: 1.4rem;
    line-height: 6rem;
  }
  .hamburger-menu {
    margin: 3% 3%;
    display: block;
  }
  .close-box{
    display: none; 
    margin: 3% 5%;
  }
  .mainmenu,
  .submenu {
     display: block;
  }
   /* 첫번쨰 new제품 */
   section{
    width: 80%;
    margin: auto;
    padding-top: 23vh;
   }
   .sec1{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    display: block;
   }
   .sec1 .txt_box{
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
   }
   .new{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 2%;
   }
  .sec1_img{
    width: 100%;
  }
  .sec1 img{
    width: 100%;
  }
   .txt{
    font-size: 3.2rem;
    line-height: 4rem;
   }
  
   .inner_txt{
    line-height: 2.2rem;
   }
   .button {
    margin-top: 5%;
  }
  /* 두번째제품 */
  .swiper-container1 .swiper-slide {
    width: 45%; 
    margin-bottom: 10%;
}
.swiper-container1  img{
  width: 100%;
  height: fit-content;
}
  
    /* 세번째제품 */
    .swiper-container2 .swiper-slide {
      width: 60%; 
      height: 100%; 
      margin: 0;
      margin-bottom: 15%;
      font-size: 1.6rem;
      position: relative;
    }
    .swiper-container2 img{
      width: 100%;
      height: fit-content;
      margin-top: 40%;
    }
   
    .swiper-container2 .swiper-slide:first-child{
      width: 70%; 
    }     
      /* 네번째 섹션 */
      .sec4 {
        display: block;
        height: 100%;
        margin-top: 25%;
    }
    .sec4 .box{
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
    }
    .sec4 img{
      width: max-content;
      transition: opacity 0.5s;
    }
    .sec4 .inner_txt{
      font-size: 1.4rem;
      margin-top: 2%;
      margin-bottom: 7%; 
      line-height: 2.5rem;
    }
    .txt_box1,
    .txt_box2 {
        padding: 9%;
    }
 
  .footerlogo{
    margin-bottom: 8vh;
  }
  .footertxt{
    font-size: 1.4rem;
  }
  .footer_txt{
    font-size: 1.2rem;
    line-height: 2.1rem;
  }
  .number{
    font-size: 3.6rem;
    font-weight: 700;
    margin-top: 1%;
    margin-bottom: 4%;
  
  }
  /* rightfooter */
  footer {
    height: 100%;
    flex-direction: column-reverse; 
  }

  .left {
    border-top: 1px solid rgb(58, 58, 58);
    width: 90%;
    height: 65%;
    padding: 0;
    margin: auto;
    margin-bottom: 10%;
  }

  .footerlogo{
    margin-bottom: 0;
    margin-top: 8%;
  }
  .footertxt{
    font-size: 1.3rem;
  }
  .footer_txt{
    font-size: 1.2rem;
    line-height: 2.1rem;
  }
  .number{
    font-size: 3.6rem;
    font-weight: 700;
    margin-top: 1%;
    margin-bottom: 4%;
    color: #fff;
  }
  .left_inner {
    display: block;
    justify-content: space-between; 
    align-items: center; 
  }
  .left .footerlogo {
    margin-right: auto; 
  }
  
  .left .footerinner {
    text-align: right;
    margin-top: 5%;
  }
  
  /* rightfooter */
  .right {
    width: 95%;
    height: 100%;
    display: flex;
    margin: auto;
  }
  
  .footersite {
    padding: 0;
    padding: 7% 2% 7% 2%;
  }
  .footersite li{
    width: 16vw;
  }
  
  .footersite ul {
    margin-top: 20%;
  }
  
  .footersite>li>a {
    font-size: 1.4rem;
    line-height: 3.8rem;
    font-weight: 700;
  }
  
  .footersite ul li{
    font-size: 1.1rem;
    line-height: 2.8rem;
  }
}
@media screen and (max-width: 539px) {

    /* 비디오 */ 
    header{
      width: 100%;
      height: 9vh;
      display: block;
      margin: 0;
    }
  
     header .logo img{
      width: 24vw;
      height: 5vh;
      margin: 15% 15%;
     }
     
    header nav{
      font-size: 1.5rem;
      top: 20%;
      left: 0%;
      width: 100%;
      height: auto;
      background-color: #333;
      line-height: 6rem;
      flex-direction: column;
      display: none;
      position: relative;
     }
  
     nav a{
      color: white;
     }
    .mainmenu{
      width: 100vw;
      height: auto;
      position: relative;
      border-right: 1px solid white;
      display: flex;
      z-index: 1;
     }
     .mainmenu li:hover .submenu li{
       display: block;
     }
     .submenu li{
       display: none;
       background-color: #575757;
       font-size: 1.4rem;
     }
 
 
 
  
     nav .submenu::after {
      display: none;
    }
 /* 화살표 스타일 */
 
 
    .user_info{
      width: 30vw;
   position: absolute;
   top: 0;
    right: 10%;
    margin: 0% 5%;
   pointer-events: none;
    }

    button{
      font-size: 1.2rem;
      line-height: 6rem;
      color: #000000;
    }
    .hamburger-menu {
      margin: 4% 4%;
      display: block;
    }
    .close-box{
      display: none; 
      margin: 4% 7%;
    }
    .mainmenu,
    .submenu {
       display: block;
    }
     /* 첫번쨰 new제품 */
     section{
      width: 90%;
      margin: auto;
      padding-top: 23vh;
     }
     .sec1{
      width: 100%;
      height: 100%;
      margin-top: 5%;
      display: block;
     }
     .sec1 .txt_box{
      width: 100%;
      height: 100%;
      margin-bottom: 13%;
     }
     .new{
      font-size: 1.6rem;
      margin-bottom: 3%;
     }
    .sec1_img{
      width: 100%;
    }
    .sec1 img{
      width: 100%;
    }
     .txt{
      font-size: 3rem;
      line-height: 4rem;
    
     }
    
     .inner_txt{
      font-size: 1.4rem;
      line-height: 2.2rem;
     }
     .button {
      margin-top: 13%;
    }
   
    /* 두번째제품 */
     .sec2{
      height: 60vh;
      margin-top: 25%;
     }
     .sec2 .txt{
      font-size: 3rem;
      margin-bottom: 8%;
     }
    
    /* 스와이퍼 슬라이드1 */
    .swiper-container1{
      height: fit-content;
    }
.swiper-container1 .swiper-slide {
  width: 45%; 
  margin-bottom: 10%;
}
.swiper-container1  img{
width: 100%;
height: fit-content;
}
    
      /* 세번째제품 */
      .swiper-container2 .swiper-slide {
        width: 60%; 
        height: 100%; 
        margin: 0;
        margin-bottom: 15%;
        font-size: 1.6rem;
        position: relative;
      }
      .swiper-container2 img{
        width: 100%;
        height: fit-content;
        margin-top: 40%;
      }
     
      .swiper-container2 .swiper-slide:first-child{
        width: 75%; 
      }      
    /*네번째 섹션*/
        .sec4 {
          display: block;
          height: 100%
      }
     
      .sec4 .box{
        width: 100%;
        height: 90vh;
        overflow: hidden;
        position: relative;
      }
      .sec4 img{
        width: max-content;
        transition: opacity 0.5s;
      }
    
      
      .sec4 .inner_txt{
        font-size: 1.4rem;
        margin-top: 2%;
        margin-bottom: 7%; 
        line-height: 2.5rem;
      }
      
      .txt_box1,
      .txt_box2 {
          padding: 9%;
      }
     
  
    /* 푸터 */
    /* leftfooter */ 
    .footerlogo{
      margin-bottom: 8vh;
    }
    .footertxt{
      font-size: 1.4rem;
    }
    .footer_txt{
      font-size: 1.2rem;
      line-height: 2.1rem;
    }
    .number{
      font-size: 3.6rem;
      font-weight: 700;
      margin-top: 1%;
      margin-bottom: 4%;
    
    }
    /* rightfooter */
    footer {
      height: 100%;
      flex-direction: column-reverse; /* 세로로 쌓이되, 순서를 반대로 */
    }
  
    .left {
      border-top: 1px solid rgb(58, 58, 58);
      width: 90%;
      height: 65%;
      padding: 0;
      margin: auto;
      margin-bottom: 10%;
    }
  
    .footerlogo{
      margin-bottom: 8vh;
    }
    .footertxt{
      font-size: 1.3rem;
    }
    .footer_txt{
      font-size: 1.2rem;
      line-height: 2.1rem;
    }
    .number{
      font-size: 3rem;
      font-weight: 700;
      margin-top: 1%;
      margin-bottom: 4%;
      color: #fff;
    }
    .left_inner {
      display: block;
      justify-content: space-between; 
      align-items: center; 
    }
    .left .footerlogo {
      margin-top: 10%;
    }
    
    .left .footerinner {
      text-align: right;
      margin-top: 3%;
    }
    
    /* rightfooter */
    .right {
     display: none;
    }
    

}
/* 매우 작은 모바일 */
@media screen and (max-width: 400px) {
  /* 매우 작은 모바일에 대한 스타일링 */


  
    /* 비디오 */ 
    header{
     width: 100%;
     height: 9vh;
     display: block;
     margin: 0;
   }
 
    header .logo img{
     width: 24vw;
     height: 4.5vh;
     margin: 15% 15%;
    }
    
   header nav{
     font-size: 1.3rem;
     top: 20%;
     left: 0%;
     width: 100%;
     height: auto;
     background-color: #333;
     line-height: 6rem;
     flex-direction: column;
     display: none;
     position: relative;
    }
 
    nav a{
     color: white;
    }
   .mainmenu{
     width: 100vw;
     height: auto;
     position: relative;
     border-right: 1px solid white;
     display: flex;
     z-index: 1;
    }
    .mainmenu li:hover .submenu li{
      display: block;
    }
    .submenu li{
      display: none;
      background-color: #575757;
    }
    nav .submenu::after {
     display: none;
   }
   .user_info{
     width: 30vw;
  position: absolute;
  top: 0;
   right: 10%;
   margin: 0% 5%;
  pointer-events: none;
   }
   button{
     font-size: 1.2rem;
     line-height: 6rem;
   }
   .hamburger-menu {
     margin: 4% 4%;
     display: block;
   }
   .close-box{
     display: none; 
     margin: 4% 7%;
   }
   .mainmenu,
   .submenu {
      display: block;
   }
    /* 첫번쨰 new제품 */
    section{
     width: 90%;
     margin: auto;
     padding-top: 23vh;
    }
    .sec1{
     width: 100%;
     height: 100%;
     margin-top: 5%;
     display: block;
    }
    .sec1 .txt_box{
     width: 100%;
     height: 100%;
     margin-bottom: 13%;
    }
    .new{
     font-size: 1.6rem;
     margin-bottom: 3%;
    }
   .sec1_img{
     width: 100%;
   }
    .txt{
     font-size: 3rem;
     line-height: 4rem;
   
    }
   
    .inner_txt{
     font-size: 1.4rem;
     line-height: 2.2rem;
    }
    .button {
     margin-top: 13%;
   }
  
   /* 두번째제품 */
    .sec2{
     height: 50vh;
     margin-top: 25%;
    }
    .sec2 .txt{
     font-size: 3rem;
     margin-bottom: 8%;
    }
   /* 스와이퍼 슬라이드1 */
   .swiper-container1{
    height: fit-content;
   }
   .swiper-container1 .swiper-slide {
    width: 45%; 
    margin-bottom: 10%;
    }
  .swiper-container1  img{
    width: 100%;
    height: fit-content;
    }
     /* 세번째제품 */
     .sec3{
       height: 75vh;
      }
       /* 스와이퍼 슬라이드2 */
       .swiper-container2 .swiper-slide {
        width: 60%; 
        height: 100%; 
        margin: 0;
        margin-bottom: 15%;
        font-size: 1.6rem;
        position: relative;
      }
      .swiper-container2 img{
        width: 100%;
        height: fit-content;
        margin-top: 40%;
      }
      .swiper-container2 .swiper-slide:first-child{
        width: 75%; 
      }      
       /* 네번째 섹션 */   
       .sec4 {
         display: block;
         height: 100%
     }
     .sec4 .box{
       width: 100%;
       height: 90vh;
       overflow: hidden;
       position: relative;
     }
     .sec4 img{
       width: max-content;
       transition: opacity 0.5s;
     }
     .sec4 .inner_txt{
       font-size: 1.4rem;
       margin-top: 2%;
       margin-bottom: 7%; 
       line-height: 2.5rem;
     } 
     .txt_box1,
     .txt_box2 {
         padding: 9%;
     }
   /* 푸터 */
   /* leftfooter */ 
   .footerlogo{
     margin-bottom: 8vh;
   }
   .footertxt{
     font-size: 1.4rem;
   }
   .footer_txt{
     font-size: 1.2rem;
     line-height: 2.1rem;
   }
   .number{
     font-size: 3.6rem;
     font-weight: 700;
     margin-top: 1%;
     margin-bottom: 4%;
   }
   /* rightfooter */
   footer {
     height: 100%;
     flex-direction: column-reverse; /* 세로로 쌓이되, 순서를 반대로 */
   }
   .left {
     border-top: 1px solid rgb(58, 58, 58);
     width: 90%;
     height: 65%;
     padding: 0;
     margin: auto;
     margin-bottom: 10%;
   }
   .footerlogo{
     margin-bottom: 8vh;
   }
   .footertxt{
     font-size: 1.3rem;
   }
   .footer_txt{
     font-size: 1.2rem;
     line-height: 2.1rem;
   }
   .number{
     font-size: 3rem;
     font-weight: 700;
     margin-top: 1%;
     margin-bottom: 4%;
     color: #fff;
   }
   .left_inner {
     display: block;
     justify-content: space-between; 
     align-items: center; 
   }
   .left .footerlogo {
     margin-top: 10%;
   }
   
   .left .footerinner {
     text-align: right;
     margin-top: 3%;
   }
   /* rightfooter */
   .right {
    display: none;
   }
   
 }

 
